body {
    font-family: 'Open Sans', sans-serif;
}


.card {
    border-radius: 1.0 rem 1.0rem 0 0;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 5%;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
    color: blue;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
   
    padding: 20px 0;
    margin-top: 2rem;
}


/* 
.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
} */







.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/background 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
    font-size: 100%;
  }


.navbar-light {
    font-size: 1.25rem;
    font-weight:bold;
    font-family: 'Anton', sans-serif;
}

.contactpage {
    /* background-image: linear-gradient(#9c9c9c, white); */
}
